* {
  font-family: "Roboto";
}
body {
  margin: 0;
}
header {
  height: 75px;
  background-color: #1f2937;
}
#header_logo {
  height: 45px;
  width: 130px;
}

/* Hero section */
#hero {
  height: 475px;
  background-color: #1f2937;
  margin: 0;
}
#hero h1 {
  margin: 0;
}
#hero .flex-container {
  justify-content: space-evenly;
}
.hero_text {
  width: 420px;
}
.hero_image {
  width: 420px;
}
.hero_text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero_text p {
  font-size: 18px;
  font-weight: 200;
  color: #e5e7eb;
}
.hero_image img {
  height: 300px;
}

/* Sign Up Button */
.signupBtn {
	background-color:#3881f6;
	border-radius:10px;
	border: 1px solid #3881f6;
	display:inline-block;
	cursor:pointer;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 400;
	padding:8px 31px;
	text-decoration:none;
}

/* Main section */
#main {
  margin: 0 0 80px 0;
}
#main h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin: 40px 0;
}
#main .flex-container {
  justify-content: center;
  gap: 25px;
}
#main .flex-container div {
  width: 185px;
}
#main .flex-container div p {
  text-align: center;
}
#main img {
  height: 120px;
  border-radius:10px;
	border: 3px solid #3881f6;
}

/* Quote section */
#quote {
  background-color: #e5e7eb;
  padding: 80px 200px;
}
#quote blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  margin: 0;
}
#quote q {
  font-size: 24px;
  font-weight: bolder;
  text-align: right;
  display: block;
  margin: 0 60px 0 0;
}

/* CTA section */
#cta {
  color: white;
  padding: 100px 0;
}
.ctaBtn .signupBtn {
	background-color:#3881f6;
	border-radius: 10px;
	border: 2px solid #f9faf8;
	display:inline-block;
	cursor:pointer;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 400;
	padding: 8px 31px;
	text-decoration: none;
}
.ctaWrap {
  justify-content: space-around;
  width: 720px;
  padding: 20px 60px;
  background-color: #3882f6;
  border-radius:10px;
	border: 1px solid #3881f6;
  margin: 0 auto;
}

/* Footer section */
footer {
  height: 100px;
  background-color: #1f2937;
  color: #f9faf8;
}
footer p {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #f9faf8;
}
/* Flexbox Styles */
.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.logo {
  flex: 1;
}
.nav {
  flex: 1;
}
nav a {
  font-size: 18px;
  font-weight: 300;
  color: #E5E7EB;
  text-decoration: none;
}
.logo.flex-container {
  justify-content: space-evenly;
}
nav.flex-container {
  justify-content: space-evenly;
}